//- mermaid
if theme.mermaid.enable == true
  script(type='text/javascript', id='maid-script' mermaidoptioins=theme.mermaid.options src='https://unpkg.com/mermaid@'+ theme.mermaid.version + '/dist/mermaid.min.js' + '?v=' + theme.version)
  script.
    if (window.mermaid) {
      var options = JSON.parse(document.getElementById('maid-script').getAttribute('mermaidoptioins'));
      mermaid.initialize(options);
    }

//- Analytics tracking
- var ga = theme.ga
if ga
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async, src='https://www.googletagmanager.com/gtag/js?id=' + ga)
    script
        | window.dataLayer = window.dataLayer || [];
        | function gtag(){dataLayer.push(arguments);}
        | gtag('js', new Date());
        | gtag('config', '#{ga}');

//- toc interactive
script.
    const tocTitleElement = document.querySelector('.toc-title');
    const tocContentElement = document.querySelector('.toc-content');
    if (tocTitleElement) {
      tocTitleElement.addEventListener('click', (e) => {
        const isActive = tocContentElement.classList.contains('active') || tocTitleElement.classList.contains('active');
        if (isActive) {
          tocContentElement.classList.remove('active');
          tocTitleElement.classList.remove('active');
        } else {
          tocContentElement.classList.add('active');
          tocTitleElement.classList.add('active');
        }
      });
    }
