::selection {
    background: #bad7fa;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
}
ul.nav,
ul.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    padding-inline-start: 30px;
    margin: 0.5rem 0;
}

ol {
    padding-inline-start: 20px;
}

li > p:first-child {
    font-weight: 500;
    font-size: 1.05em;
}

::marker {
    font-size: 1.1em;
    font-weight: 500;
}

a, a:active {
    color: #2c3e50;
    text-decoration: none;
}

a.nav-list-link.active,
a.nav-list-link:hover,
a.post-title-link:hover {
    border-bottom: 2px solid #5454f8;
}

hr {
    width: 150px;
    margin: 50px auto;
    height: 1px;
    overflow: hidden;
    border: none;
    background: #e5e5e5;
}

code {
    margin: 0 2px;
    padding: 3px 5px;
    color: #e96900;
    border-radius: 2px;
    white-space: inherit;
}

iframe, video {
    max-width: 100%;
    margin: 1rem auto;
    display: block;
}

table {
    width: 100%;
    margin: 1em auto;
    thead {
        background-color: #ddd;
        th {
            padding: 5px;
            min-width: 20px;
        }
    }
    tbody {
        tr:nth-child(2n) {
            background-color: #eee;
        }
        td {
            padding: 5px;
            vertical-align: text-top;
        }
    }
}
